<div class="py-12 bg-gray-50">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="text-base leading-6 text-blue-600 font-semibold tracking-wide uppercase">Time Sheets - in development</p>
      <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        A better way to track employee time.
      </h3>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        Stop wasting time taking paper timesheets or radius driver activity logs and manually entering them into a spreadsheet! Roadze digitizes this process right down to manager time approvals. Export daily, weekly or monthly reports to .xlsx or .pdf files.
      </p>
    </div>

    <div class="mt-10">
      <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
        <li>
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-user-clock fa-lg"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Electronic Time Sheets</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Track your employee's on-duty activites to the second. <span class="text-blue-700 logo-font font-semibold">roadze</span> gives you total controll in customizing your companies time sheet activity's. 
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-check-circle fa-lg"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Instant Approval</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Receive realtime calls to action about your employee's activities. Approve time sheet entries as they are completed. Save time and money streamlining your payroll entries.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-file-chart-pie fa-lg"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Full Featured Reporting</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Run reports based on Truck, Driver or Activity types, quick exports to .xlsx or .pdf files.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                <i class="far fa-comment-alt-lines fa-lg"></i>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Text/SMS, Desktop or Email notifications</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Realtime notifications alert you to all of your employees activities. choose from Browser, SMS or Email notifications.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>