<div class="max-w-7xl mx-auto">
  <%= render 'global/layouts/marketing/pre_launch_hero' %>

  <div id="table">
    <%= render 'marketing/pricing/pricing_table' %>
  </div>

  <%= render 'global/layouts/marketing/footer' %>
</div>